.footer-soc-wrap {
	margin-bottom:  60px;

@include desktop {
	margin-bottom: 0px;
}

	&__text {
		@include desktop {
			text-align: start;
		}

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: center;
		color: var(--primary-white-color);
		margin-bottom: 20px;
	}
}

.footer-soc-link {
	background-color: var(--footer-icon-soc-color);
	color: var(--primary-white-color);
}

.footer-soc-icon {
	fill: currentColor;
}
